body {
  text-align: center;
  color: grey; }

.navbar-default {
  background: rgba(0, 0, 0, 0.2);
  border-color: transparent; }
  .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: white; }

.navbar-default .navbar-toggle {
  border-color: black; }

.nv {
  height: 50px;
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .nv h3 {
    float: left; }
  .nv ul {
    float: right; }
    .nv ul li {
      display: inline-block;
      position: relative;
      bottom: -25px;
      padding-right: 10px; }

.header {
  width: 100%;
  color: white;
  height: auto;
  margin-bottom: -120px; }
  .header img {
    max-width: 100%;
    height: auto; }
  .header #header-text {
    position: relative;
    top: -180px;
    left: 20px;
    font-size: 1.2em; }
    .header #header-text h1 {
      font-size: 2.9em;
      right: 100px;
      position: relative;
      padding: 0;
      margin: 0; }
    .header #header-text button {
      position: relative;
      top: 50px;
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid white;
      margin: 0 auto;
      width: 120px;
      transition: width 1s; }
      .header #header-text button a {
        color: white;
        text-decoration: none;
        font-size: 1.2em; }
      .header #header-text button a:hover {
        color: lightblue; }
    .header #header-text button:hover {
      width: 150px;
      transition: width 1s; }

.nav-text {
  margin-top: 60px; }

#gallery {
  width: 100%; }
  #gallery .col-xs-6 {
    padding: 0px; }
  #gallery #pic-one {
    background: #F7F4F4; }
    #gallery #pic-one img {
      width: 100%;
      max-width: 140px;
      overflow: hidden;
      height: auto;
      padding: 10px 0; }
  #gallery #pic-two img {
    max-width: 90%;
    max-width: 140px;
    overflow: hidden;
    height: auto;
    padding: 10px 0; }

@media (max-width: 400px) {
  #pic-one, #pic-two {
    height: auto; } }

#white-bar {
  padding: 10px;
  color: grey; }
  #white-bar p {
    font-size: 0.3em; }

#gallery2 .col-xs-6, #gallery2 .col-xs-2, #gallery2 .col-sm-6, #gallery2 .col-sm-2 {
  padding: 0px; }

#gallery2 .pictures {
  background: #F7F4F4; }
  #gallery2 .pictures img {
    width: 100%;
    max-width: 140px;
    overflow: hidden;
    height: auto;
    padding: 10px 0; }

#gallery2 #white {
  background: #FBFBFB; }

#gallery2 #whiter {
  background: #fff; }

img {
  display: inline-block;
  max-width: 100%; }

@media (max-width: 500px) {
  .col-ts-12 {
    float: none;
    width: 100%; } }
